.body {
    margin: 0;
    padding: 0;
}

.center {
    padding: 0 calc(50% - 570px);
}

.Index {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #ececec;
    position: relative;

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo>a {
    text-decoration: none;
}

.logo>a>p {
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    padding-left: 13px;
}

.RedLetter {
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.search {
    display: flex;
    border-radius: 3px 3px 3px 3px;
    margin-left: 37px;
    align-items: center;
}

.Browse {
    height: 38px;
    width: 87px;
    text-decoration: none;


    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 37px;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 20px;
}

.Browse_link {
    color: #222222;
}

.Browse>a {}

.Browse>li>a {
    text-decoration: none;
    display: block;
}

.Browse>li>a:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px #837d7d56;
}

.Browse:hover .Browse_list {
    display: flex;
}

#BrowseClick:after {
    display: flex;
}

.Browse_list {
    display: none;
    flex-direction: column;
    list-style-type: none;
    height: 580px;
    width: 262px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    margin-top: 3px;
}

.Browse_list_h {
    width: 236px;
    display: block;
    font-family: 'Lato';
    font-size: 14px;
    color: #161616;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 10px;

}

.Browse_list_a {
    height: 253px;
    width: 311px;
    font-family: 'Lato';
    font-size: 14px;
    color: #4f4f4f;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 28px;
}

.Browse_list_a>a,
.Browse_list_h>a {
    text-decoration: none;
    color: #161616;
    ;
}

.Browse_list_a>a:hover,
.Browse_list_h>a:hover {
    color: #f16d7f;
}

.search>input {
    height: 36px;
    width: 280px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
    padding-right: 10px;
}

.search>input:focus {
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px #837d7d56;
    outline: none;

}

.search>.lupa {
    display: block;
    height: 38px;
    width: 36px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.search>.lupa>img {
    display: block;
    margin: auto;
    padding-top: 11px;
}

.search>a:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px #837d7d56;
}

.basket {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
}

.basket_ul {
    list-style-type: none;
}

.basket_il_drop {
    list-style-type: none;
    position: relative;
}

.basket:hover .basket_img {
    transition: 0.5s;
    filter: invert(40%);
}

.basket:hover .GoToCart {
    display: flex;

}

.GoToCart {
    display: none;
    flex-direction: column;
    height: 440px;
    width: 262px;
    position: absolute;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: -40px;
    margin-top: 10px;
    border-radius: 5px;
}

.GoToCart_elements {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 85px;
    width: 230px;
    position: relative;
}


.GoToCart_elements__cont {

    margin-top: 0px;
    padding-left: 14px;

}

.GoToCard_elements_name {
    margin-top: 40px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;

}

.GoToCard_elements_price {
    font-family: 'Lato';
    font-size: 12px;
    color: #f16d7f;
}

.crossBlock {
    display: block;
    width: 15px;
    height: 15px;
}

.fa-times-circle {
    display: block;
    width: 15px;
    height: 15px;
    font-family: 'FontAwesome';
    text-align: right;
    font-size: 16px;
    color: #c0c0c0;
    position: absolute;
    margin-top: 30px;
    margin-left: 130px;
}

.cross:hover .fa-times-circle {
    color: rgb(80, 77, 77);
}

.rating-area {
    overflow: hidden;
    width: 65px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-top: 5px;
    margin-left: -1px;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    width: 13px;
    padding: 0;
    cursor: pointer;
    font-size: 17px;
    line-height: 17px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {

    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}

.GoToCart_total {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 40px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    margin-top: 37px;
}

.GoToCart_buttons {
    display: block;
    height: 50px;
    width: 225px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    text-align: center;
    margin-top: 10px;
    line-height: 50px;
}

.GoToCart_buttons:hover {
    border-color: #f16d7f;
    color: #f16d7f;
}

.GoToCart_buttons_link {
    text-decoration: none;
}

.button {
    height: 38px;
    width: 130px;
    background-color: #f16d7f;
    margin-left: 26Px;
    display: block;
}

.button>a {
    display: block;
    font-family: 'Lato';
    font-size: 15px;
    color: #ffffff;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}



.button:hover {
    transition: 0.5s;
    background-color: #f35466;
    box-shadow: 0px 0px 2px 0px #000000;
}



.menu {
    margin-left: 180px;
    border-bottom: #9f9f9f;
    margin-bottom: -16px;
}

.menu_list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}

.menu_list:hover .drop {
    display: flex;
}

.menu_elements {}

.menu_elements>a {
    text-decoration: none;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
    padding: 20px 20px;

}

.menu_elements>a:hover {
    transition: 0.1s;
    color: #9c9c9c;
    padding-top: 20px;
    position: relative;

}

.menu_active_link {
    border-bottom: 4px solid #f35466;
    padding-top: 20px;
}


.drop {
    background-color: #fff;
    border-radius: 5px;
    padding: 12px 20px;
    position: absolute;
    display: none;
    flex-wrap: wrap;
}

.drop_flex>img {
    padding-top: 18px;

}

.drop_flex:not(:last-child) {
    margin-right: 46px;
}


.drop_h3 {
    width: 238px;
    border-bottom: 1px solid #e8e8e8;
    font-family: 'Lato';
    font-size: 14px;
    color: rgba(35, 35, 35, 1);
    letter-spacing: 0.03em;
    padding: 8px 0;
    text-transform: uppercase;
    margin-bottom: 8px;

}

.drop_ul {
    list-style-type: none;
}

.drop_a {
    font-family: 'Lato';
    font-size: 14px;
    color: rgba(100, 100, 100, 1);
    letter-spacing: 0.03em;
    line-height: 30px;
    margin-left: -40px;
    text-decoration: none;
}

.drop_a:hover {
    transition: 0.3s;
    color: #f16d7f;
}


.PromoBox_1 {
    display: flex;
    align-items: center;
    height: 610px;
    width: 1600px;
    background-image: url(img/Man.png);
    background-position-y: -50px;
    margin: auto;
}


.PromoText {
    display: block;
    height: 92px;
    width: 500px;
    border-left: 12px solid #f16d7f;
    text-align: left;
    padding-left: 12px;
    padding-right: 0px;
    margin-left: 230px;
}

.Brand {
    font-family: 'Lato';
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 45px;
}

.LUX {
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    text-align: right;
    letter-spacing: 0.03em;

}

.FASHION {
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 900;
    color: #f16d7f;
    text-align: right;
    letter-spacing: 0.03em;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

}

.contentBox {
    height: 823px;
    width: 1141px;
    display: flex;
    margin-top: 98px;
    justify-content: space-between;
}

.leftBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftBox>a:hover {
    transition: 0.7s;
    transform: scale(1.01);
    box-shadow: 0px 0px 30px 1px #615f5f0e;
}

.rihhtBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rihhtBox>a:hover {
    transition: 0.7s;
    transform: scale(1.01);
    box-shadow: 0px 0px 34px 1px #615f5f4b;
}

.contentTextBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    display: flex;
    height: auto;
    width: auto;
    background-color: #ffffff;
    margin-top: 26Px;
    padding: 15px;
    /*Text styles for "hOT dEAL" */
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.redtext {
    /*Text styles for "FOR MEN" */
    display: flex;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: #f16d7f;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.FutureItems {
    width: 1139px;
    margin-top: 100Px;
}

.FutureItems>h2 {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bold;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-align: center;
    margin: 0 auto;
}

.FutureItems>h3 {
    font-family: 'Lato';
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
    margin: 0 auto;
    margin-top: -15px;
    margin-bottom: 60px;
}

.Product_Box {
    width: 1139px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.Product {
    position: relative;
    height: 379px;
    width: 261px;
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
}

.Product:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
    transition: 0.2s;
}

.Product:hover .Product_Pic {
    filter: brightness(30%);
    transition: 0.2s;
}

.Product:hover .addTo {
    display: flex;
    transition: 0.2s;
}

.addTo {
    position: absolute;
    display: none;
    height: 39px;
    width: 123px;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid white;
    align-items: center;
    margin-top: 97px;
    margin-left: 70px;
    text-decoration: none;
}

.addTo>img {
    margin-left: 12px;
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 7px;
}

.addTo:hover {
    box-shadow: 0px 1px 3px 1px #f7f5f5a1;
    transition: 0.2s;
}

.Product_Discription {
    text-decoration: none;
    margin: 14px;
}

.productname {
    font-family: 'Lato';
    font-size: 13px;
    color: #222222;
    text-align: left;
    text-transform: uppercase;
}

.price {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-align: left;
    text-transform: uppercase;
    margin-top: 17px;
}

.button2 {
    display: block;
    height: 48px;
    width: 212px;
    background-color: #f16d7f;
    align-items: center;
    margin-left: 462px;
    margin-top: 79px;
}

.button2>a {
    display: block;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
}

.button2:hover {
    transition: 0.5s;
    background-color: #f35466;
    box-shadow: 0px 0px 2px 0px #000000;
}

.PromoBox_2 {
    height: 529px;
    width: 1140px;
    margin-top: 113px;
    margin-bottom: 97px;
}

.Link_on_PromoBox_2 {
    display: flex;
    text-decoration: none;
}

.Link_on_PromoBox_2:hover {
    transition: 0.5s;
    filter: brightness(115%);
}

.PromoBox_Elements {
    display: flex;
    padding-left: 36px;
    padding-right: 43px;
    padding-top: -40px;
    background-color: #222224;
    flex-direction: column;
    padding-top: 15px;
}

.Offer {
    position: absolute;
    padding-top: 139px;
    padding-left: 39px;
    width: 300px;
    height: 78px;
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
}

.redT {
    color: #f16d7f;
    letter-spacing: 1.5px;
}

.FWT {
    font-size: 32px;
    letter-spacing: 0.9px;
}

.PromoBox_Element {
    height: 176px;
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.PromoBox_Element>img {
    padding-bottom: 65px;
}

.Element_Text {
    padding-left: 36px;
}

.Element_Text>h4 {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.Element_Text>p {
    margin-top: -15px;
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.Subscribe_Block {
    background-image: url(img/Subscribe.png);
    width: 1618px;
    height: 438px;
    background-repeat: no-repeat;
    background-position: center 0;
    margin: auto;
    display: flex;
}

.Subscribe_left {
    padding-left: 160px;
    padding-right: 15px;
    display: flex;
    width: 635px;
    align-items: center;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 100px;
}

.Subscribe_left>img {
    margin-bottom: 50px;
}

.Subscribe_Text {
    margin-left: -50px;
    width: 390px;
    height: 114px;
}

.Subscribe_Text>p {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    /* Text style for "Bin Burhan" */
    font-family: "Lato - Bold";
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin-bottom: -10px;
    margin-top: 5px;
}

.Subscribe_Dhaka {
    color: #222224;
    font-family: "Lato Light";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.Slider>input {
    position: absolute;
    z-index: 2;
}

.form {
    width: 400px;
}

.radio-container {
    display: flex;
    justify-content: flex-start;
    font-family: sans-serif;
}

.radio-container * {
    margin-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.radio-container .radio-btn {
    overflow: hidden;
}

.radio-container .radio-btn {
    width: 55px;

}

.radio-container .radio-btn label {
    background: linear-gradient(to bottom, #f8f8fa 0%, #c8c8c7 100%);
    display: block;
    width: 38px;
    padding: 2px;
    color: #7e7e7e;
    cursor: pointer;
}

.radio-container .radio-btn input {
    display: none;
}

.radio-container .radio-btn input:checked+label {
    background: linear-gradient(to bottom, #f16d7f 0%, #f16d7f 100%);
    color: #fff;
}

.Subscribe_right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    width: 334px;
    height: 122px;
    margin-left: 120px;
    margin-top: 128px;
}

.Subscribe_right>p {
    /* Style for "Subscribe" */
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    /* Text style for "Subscribe" */
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 1px;
    text-transform: uppercase;
    text-align: center;
    padding-right: 30px;
}

.Subscribe_right>.FOR_OUR {
    color: #222224;
    font-family: Lato;
    font-size: 24px;
    letter-spacing: 0.35px;
    line-height: 24px;
    font-weight: 500;

    text-align: center;
    font-weight: 600;
}

.form_for_email {
    display: flex;
    width: 386px;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    margin-top: 35px;
    margin-left: -35px;
}

.form_for_email>.email {
    width: 334px;
    border-radius: 23px 0px 0px 23px;
    background-color: #e1e1e1;
    border: none;
    padding-left: 30px;
    align-items: center;
    /* Style for "Enter Your" */
    font-weight: bold;
    opacity: 0.67;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 650;
    line-height: 54px;
}

.form_for_email>.email:focus {
    background-color: #ffffffd0;
    transition: 0.5s;
    box-shadow: 1px 0px 3px 1px #fc414156;
    outline: none;
}

.button3 {
    width: 114px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    border: none;
    display: block;
    /* Style for "Subscribe" */
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    /* Text style for "Subscribe" */
    letter-spacing: 0.35px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
}

.button3:hover {
    transition: 0.5s;
    background-color: #f35466;
    box-shadow: 0px 0px 2px 0px #000000;
}

footer {
    height: 517px;
    width: 1600px;
    margin: 0 auto;
}

.footer_top {
    height: 458px;
    width: 1600px;
    display: flex;
    margin: 0 auto;

}

.footer_text {
    width: 450px;
    padding-top: 123px;
    padding-left: 229px;
}

.footer_text_text {
    width: 427px;
    height: 180px;
    /* Style for "Objectivel" */
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.footer_menu {
    width: 900px;
    height: 458px;
}

.footer_menu_ul {
    display: flex;
}

.footer_menu_ul>.footer_li_1 {
    display: inline;
    padding-top: 129px;
    margin-right: 80px;
}

.padding_menu {
    padding-left: 57px;
}

.footer_li_1>a {
    text-decoration: none;
    /* Style for "INFORMATIO" */
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "I, NFORMAT" */
    letter-spacing: 0.45px;
}

.footer_li_1>a:hover {
    transition: 0.7s;
    color: #898989;

}

.footer_li_1>ul {
    margin-top: 49px;
}

.footer_li_2 {
    list-style-type: none;
    margin-left: -40px;
}

.footer_li_2>a {
    text-decoration: none;
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    /* Text style for "Home" */
    letter-spacing: 0.4px;
    line-height: 59px;
    /* Text style for "Shop , Abo" */
    letter-spacing: 0.4px;
    line-height: 42px;
    text-transform: none;
}

.footer_li_2>a:hover {
    transition: 0.7s;
    color: #f16d7f;
}

.Footer_down {
    width: 1617px;
    height: 79px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
}

.CopyRight {
    margin-left: 238px;
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
}

.social {
    display: flex;
    width: 188px;
    height: 32px;
    margin-left: 700px;
}

.social_block {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    margin-right: 8px;
    text-align: center;
    line-height: 32px;
}

.social_block>i {
    color: grey;
    text-align: center;
}

.social>a:hover .social_block {
    transition: 0.5s;
    background-color: #f16d7f;
}

.social>a:hover .social_block>i {
    transition: 0.9s;
    color: white;
}

.social>a:visited .social_block {
    transition: 0.5s;
    background-color: #ededed;
    border: 1px solid black;
    color: white;
}

.social>a:visited:hover .social_block>i {
    transition: 0.9s;
    color: rgb(224, 160, 160);
}




/* ------------------------CСтраница PROduct------------------------ */




.menu_product {
    height: 148px;
    display: flex;
    justify-content: space-between;
    background-color: #f8f3f4;
    align-items: center;
}

.arrival {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 900;
    color: #f16d7f;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;

}

.menu_product_nav_list {
    list-style-type: none;
    display: flex;
}

.menu_product_nav_list_li>a {
    text-decoration: none;
    padding-right: 2px;

    /*Text styles for "Home / Men" */
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    color: #636363;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;

}

.menu_product_active>a {
    font-weight: bold;
    color: #f16d7f;
}

.menu_product_nav_list_li>a:hover {
    color: #f16d7f;
}

.Link_on_PromoBox_2_productpage{
    display: flex;
    flex-direction: row;
    height: 341px;
    
}

.Link_on_PromoBox_2_product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 341px;
    background-color: #222224;
    margin-top: 150px;
    margin-bottom: 50px;
}

.PromoBox_Elements_2_productpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
}

.PromoBox_Element_2_productpage{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 308px;
    align-items: center;
    text-align: center;
}

.PromoBox_Element_2_productpage>img{
   padding-left: 35px;
}