.body {
    margin: 0;
    padding: 0;
}

.center {
    padding: 0 calc(50% - 570px);
}

.clearfix {
    overflow: auto;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo>a {
    text-decoration: none;
}

.logo>a>p {
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    padding-left: 13px;
}

.RedLetter {
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.search {
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    margin-left: 37px;
}

.search>.Browse {
    height: 38px;
    width: 87px;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 37px;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    display: block;
    text-align: center;

}

.search>input {
    height: 36px;
    width: 280px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    padding-left: 10px;
}

.search>.lupa {
    height: 38px;
    width: 36px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.search>.lupa>img {
    display: block;
    margin: auto;
    padding-top: 11px;
}

.basket {
    margin-left: 319px;
}

.button {
    height: 38px;
    width: 130px;
    background-color: #f16d7f;
    margin-left: 26Px;

}

.button>a {
    display: block;
    font-family: 'Lato';
    font-size: 15px;
    color: #ffffff;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}

.menu {
    width: 680px;
    margin-left: 200px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu_elements>a {
    text-decoration: none;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    line-height: 26px;
    text-transform: uppercase
}

.promo {
    display: flex;
    align-items: center;
    height: 610px;
    width: 1600px;
    background-image: url(img/Man.png);
    background-position-y: -50px;
    margin: auto;
}

.pinkline {
    float: left;
    height: 95px;
    width: 12px;
    background-color: #f16d7f;
    margin-top: 15px;
    margin-right: 12px;
}

.PromoText {
    height: 92px;
    width: 555px;
}

.Brand {
    font-family: 'Lato';
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    text-align: right;
    letter-spacing: 0.03em;
}

.LUX {
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    text-align: right;
    letter-spacing: 0.03em;
}

.FASHION {
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 900;
    color: #f16d7f;
    text-align: right;
    letter-spacing: 0.03em;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.contentBox {
    height: 823px;
    width: 1141px;
    display: flex;
    margin-top: 98px;
    justify-content: space-between;
}

.leftBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rihhtBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentTextBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    display: flex;
    height: auto;
    width: auto;
    background-color: #ffffff;
    margin-top: 26Px;
    padding: 15px;
    /*Text styles for "hOT dEAL" */
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.redtext {
    /*Text styles for "FOR MEN" */
    display: flex;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: #f16d7f;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.FutureItems {
    height: 982px;
    width: 1139px;
    margin-top: 100Px;
}

.FutureItems>h2 {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bold;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-align: center;
    margin: 0 auto;
}

.FutureItems>h3 {
    font-family: 'Lato';
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
    margin: 0 auto;
    margin-top: -15px;
}

.goodsBox {
    height: 752px;
    width: 1139px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
}

.goods {
    height: 379px;
    width: 261px;
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
}

.imgfon {
    display: flex;
    background-image: url(img/hover.png);
    z-index: 2;
    position: absolute;
    opacity: 0;
    height: 280px;
    width: 261px;
    border: none;
    align-items: center;
    justify-content: center;

}

.goods:hover .imgfon {
    opacity: 0.99;

}

.goods:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.addTo {
    display: flex;
    height: 39px;
    width: 123px;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid white;
    align-items: center;
    margin-top: -50px;
}

.addTo>img {
    margin: 8px;
}

.goods>img {
    z-index: 0;
    height: 280px;
    width: 261px;
}

.goodslink {
    text-decoration: none;
}

.discription {
    height: 11px;
    width: 157px;
    font-family: 'Lato';
    font-size: 13px;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
    padding-left: 14px;
    padding-top: 19px;
    padding-bottom: 17px;
}

.price {
    height: 15px;
    width: 50px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-align: center;
    text-transform: uppercase;
    padding-left: 14px;
    padding-bottom: 29px;
}

.button2 {
    height: 48px;
    width: 212px;
    background-color: #f16d7f;
    align-items: center;
    margin-left: 462px;
    margin-top: 79px;
}

.button2>a {
    display: block;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-decoration: none;
    text-align: center;
}