@charset "UTF-8";
.body {
  margin: 0;
  padding: 0;
}

.center {
  padding: 0 calc(50% - 570px);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo .Brand_link {
  text-decoration: none;
}

.logo .Brand_text {
  font-family: 'Lato';
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  padding-left: 13px;
}

.logo .RedLetter {
  font-family: 'Lato';
  font-size: 27px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid #ececec;
  position: relative;
}

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px 3px 3px 3px;
  margin-left: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .Browse {
  height: 38px;
  width: 87px;
  text-decoration: none;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 37px;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  background-image: -webkit-linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 20px;
}

header .Browse_link {
  color: #222222;
}

header .Browse > li > a {
  text-decoration: none;
  display: block;
}

header .Browse > li > a:after {
  content: '\25BC';
  font-size: 9px;
  color: #222222;
  font-family: 'arial black';
  font-weight: bold;
}

header .Browse > li > a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 10px 0px #837d7d56;
          box-shadow: 0px 0px 10px 0px #837d7d56;
}

header .Browse:hover .Browse_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #BrowseClick:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .Browse_list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  height: 580px;
  width: 262px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  margin-top: 3px;
}

header .Browse_list_h {
  width: 236px;
  display: block;
  font-family: 'Lato';
  font-size: 14px;
  color: #161616;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
}

header .Browse_list_a {
  height: 253px;
  width: 311px;
  font-family: 'Lato';
  font-size: 14px;
  color: #4f4f4f;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 28px;
}

header .Browse_list_a > a,
header .Browse_list_h > a {
  text-decoration: none;
  color: #161616;
}

header .Browse_list_a > a:hover,
header .Browse_list_h > a:hover {
  color: #f16d7f;
}

header .search > input {
  height: 36px;
  width: 280px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
  padding-right: 10px;
}

header .search > input:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 10px 0px #837d7d56;
          box-shadow: 0px 0px 10px 0px #837d7d56;
  outline: none;
}

header .search > .lupa {
  display: block;
  height: 38px;
  width: 36px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}

header .search > .lupa > img {
  display: block;
  margin: auto;
  padding-top: 11px;
}

header .search > a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 10px 0px #837d7d56;
          box-shadow: 0px 0px 10px 0px #837d7d56;
}

header .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 180px;
}

header .basket_ul {
  list-style-type: none;
}

header .basket_il_drop {
  list-style-type: none;
  position: relative;
}

header .basket:hover .basket_img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: invert(40%);
          filter: invert(40%);
}

header .basket:hover .GoToCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .GoToCart {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 440px;
  width: 261px;
  position: absolute;
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: -40px;
  margin-top: 10px;
  border-radius: 5px;
}

header .GoToCart_elements {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 85px;
  width: 230px;
  position: relative;
}

header .GoToCart_elements__cont {
  margin-top: 0px;
  padding-left: 14px;
}

header .GoToCard_elements_name {
  margin-top: 40px;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}

header .GoToCard_elements_price {
  font-family: 'Lato';
  font-size: 12px;
  color: #f16d7f;
}

header .crossBlock {
  display: block;
  width: 15px;
  height: 15px;
}

header .fa-times-circle {
  display: block;
  width: 15px;
  height: 15px;
  font-family: 'FontAwesome';
  text-align: right;
  font-size: 16px;
  color: #c0c0c0;
  position: absolute;
  margin-top: 30px;
  margin-left: 130px;
}

header .cross:hover .fa-times-circle {
  color: #504d4d;
}

header .rating-area {
  overflow: hidden;
  width: 65px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 5px;
  margin-left: -1px;
}

header .rating-area:not(:checked) > input {
  display: none;
}

header .rating-area:not(:checked) > label {
  width: 13px;
  padding: 0;
  cursor: pointer;
  font-size: 17px;
  line-height: 17px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

header .rating-area:not(:checked) > label:before {
  content: '★';
}

header .rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

header .rating-area:not(:checked) > label:hover,
header .rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

header .rating-area > input:checked + label:hover,
header .rating-area > input:checked + label:hover ~ label,
header .rating-area > input:checked ~ label:hover,
header .rating-area > input:checked ~ label:hover ~ label,
header .rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

header .rate-area > label:active {
  position: relative;
}

header .GoToCart_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 40px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-top: 37px;
}

header .GoToCart_buttons {
  display: block;
  height: 50px;
  width: 225px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  text-align: center;
  margin-top: 10px;
  line-height: 50px;
}

header .GoToCart_buttons:hover {
  border-color: #f16d7f;
  color: #f16d7f;
  -webkit-box-shadow: 0px 0px 6px 0px #ef5b70;
          box-shadow: 0px 0px 6px 0px #ef5b70;
  -webkit-transition: .3s;
  transition: .3s;
}

header .GoToCart_buttons_link {
  text-decoration: none;
}

header .button {
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  margin-left: 26Px;
  display: block;
}

header .button > a {
  display: block;
  font-family: 'Lato';
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

header .button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f35466;
  -webkit-box-shadow: 0px 0px 2px 0px #000000;
          box-shadow: 0px 0px 2px 0px #000000;
}

header .button > a:after {
  content: '\25BE';
}

.menu {
  margin-left: 240px;
  border-bottom: #9f9f9f;
  margin-bottom: -16px;
}

.menu .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.menu .menu_list .menu_elements a {
  text-decoration: none;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
  padding: 20px 20px;
}

.menu .menu_list .menu_elements a:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #9c9c9c;
  padding-top: 20px;
  position: relative;
}

.menu .menu_list .menu_elements .menu_active_link {
  border-bottom: 4px solid #f35466;
  padding-top: 20px;
}

.menu .menu_list:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .drop {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px 20px;
  position: absolute;
  display: none;
  z-index: 1;
}

.menu .drop img {
  padding-top: 18px;
}

.menu .drop .image_box {
  width: 255px;
  height: 118px;
  color: #ffffff;
  font-family: "Lato - Black";
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  background-image: url(img/collman.png);
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: -35px;
}

.menu .drop .image_link:hover {
  -webkit-transition: .9s;
  transition: .9s;
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
}

.menu .drop .drop_flex {
  margin-right: 46px;
}

.menu .drop .drop_flex h3 {
  width: 238px;
  border-bottom: 1px solid #e8e8e8;
  font-family: 'Lato';
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  padding: 6px 0;
  text-transform: uppercase;
}

.menu .drop .drop_flex ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menu .drop .drop_flex ul .drop_a {
  font-family: 'Lato';
  font-size: 14px;
  color: #968c8c;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-decoration: none;
  padding: 8px 0px;
  text-transform: none;
}

.menu .drop .drop_flex ul .drop_a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f16d7f;
}

.PromoBox_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 610px;
  width: 1600px;
  background-image: url(img/Man.png);
  background-position-y: -50px;
  background-repeat: no-repeat;
  margin: auto;
}

.PromoBox_1 .PromoText {
  display: block;
  height: 92px;
  width: 500px;
  border-left: 12px solid #f16d7f;
  text-align: left;
  padding-left: 12px;
  padding-right: 0px;
  margin-left: 230px;
}

.PromoBox_1 .Brand {
  font-family: 'Lato';
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 45px;
}

.PromoBox_1 .LUX {
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  text-align: right;
  letter-spacing: 0.03em;
}

.PromoBox_1 .FASHION {
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 900;
  color: #f16d7f;
  text-align: right;
  letter-spacing: 0.03em;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.contentBox {
  height: 823px;
  width: 1141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 98px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentBox .leftBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentBox .leftBox > a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 30px 1px #615f5f0e;
          box-shadow: 0px 0px 30px 1px #615f5f0e;
}

.contentBox .rihhtBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentBox .rihhtBox > a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 34px 1px #615f5f4b;
          box-shadow: 0px 0px 34px 1px #615f5f4b;
}

.contentBox .contentTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: flex;
  height: auto;
  width: auto;
  background-color: #ffffff;
  margin-top: 26Px;
  padding: 15px;
  /*Text styles for "hOT dEAL" */
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contentBox .redtext {
  /*Text styles for "FOR MEN" */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.FutureItems {
  width: 1139px;
  margin-top: 100Px;
}

.FutureItems h2 {
  font-family: 'Lato';
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 54px;
  text-align: center;
  margin: 0 auto;
}

.FutureItems h3 {
  font-family: 'Lato';
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: 60px;
}

.Product_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Product_Box .Product {
  position: relative;
  height: 379px;
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 31px;
}

.Product_Box .Product:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Product_Box .Product:hover .Product_Pic {
  -webkit-filter: brightness(40%) blur(0.7px) contrast(80%);
          filter: brightness(40%) blur(0.7px) contrast(80%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Product_Box .Product:hover .addTo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Product_Box .Product:hover .addTo_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Product_Box .Product:hover .addTo_like_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Product_Box .addTo {
  position: absolute;
  display: none;
  height: 39px;
  width: 123px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 97px;
  margin-left: 70px;
  text-decoration: none;
}

.Product_Box .addTo > img {
  margin-left: 12px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.Product_Box .addTo:hover {
  -webkit-box-shadow: 0px 2px 4px 2px #f7f5f5a1;
          box-shadow: 0px 2px 4px 2px #f7f5f5a1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Product_Box .addTo_like {
  position: absolute;
  display: none;
  width: 57px;
  height: 38px;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 145px;
  margin-left: 70px;
  text-decoration: none;
}

.Product_Box .addTo_like_2 {
  position: absolute;
  display: none;
  width: 57px;
  height: 38px;
  font-family: "Font Awesome";
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 145px;
  margin-left: 135px;
  text-decoration: none;
}

.Product_Box .addTo_like:hover, .Product_Box .addTo_like_2:hover {
  -webkit-box-shadow: 0px 2px 4px 2px #f7f5f5a1;
          box-shadow: 0px 2px 4px 2px #f7f5f5a1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Product_Box .addTo_like > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19px;
  height: 19px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Product_Box .addTo_like_2 > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Product_Box .Product_Discription {
  text-decoration: none;
  margin: 14px;
}

.Product_Box .productname {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.Product_Box .price {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  text-transform: uppercase;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Product_Box .price .rating-area {
  overflow: hidden;
  width: 65px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 5px;
}

.Product_Box .price .rating-area:not(:checked) > input {
  display: none;
}

.Product_Box .price .rating-area:not(:checked) > label {
  width: 13px;
  padding: 0;
  cursor: pointer;
  font-size: 17px;
  line-height: 17px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.Product_Box .price .rating-area:not(:checked) > label:before {
  content: '★';
}

.Product_Box .price .rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.Product_Box .price .rating-area:not(:checked) > label:hover,
.Product_Box .price .rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.Product_Box .price .rating-area > input:checked + label:hover,
.Product_Box .price .rating-area > input:checked + label:hover ~ label,
.Product_Box .price .rating-area > input:checked ~ label:hover,
.Product_Box .price .rating-area > input:checked ~ label:hover ~ label,
.Product_Box .price .rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.button2 {
  display: block;
  height: 45px;
  width: 212px;
  background-color: #f16d7f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 462px;
  margin-top: 79px;
}

.button2 a {
  display: block;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 45px;
  text-decoration: none;
  text-align: center;
}

.button2 a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f35466;
  -webkit-box-shadow: 0px 0px 2px 0px #000000;
          box-shadow: 0px 0px 2px 0px #000000;
}

.PromoBox_2 {
  height: 529px;
  width: 1140px;
  margin-top: 113px;
  margin-bottom: 97px;
}

.PromoBox_2 .Link_on_PromoBox_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.PromoBox_2 .Link_on_PromoBox_2:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.PromoBox_2 .PromoBox_Elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 36px;
  padding-right: 43px;
  padding-top: -40px;
  background-color: #222224;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
}

.PromoBox_2 .Offer {
  position: absolute;
  padding-top: 139px;
  padding-left: 39px;
  width: 300px;
  height: 78px;
  color: #ffffff;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
}

.PromoBox_2 .redT {
  color: #f16d7f;
  letter-spacing: 1.5px;
}

.PromoBox_2 .FWT {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.PromoBox_2 .PromoBox_Element {
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}

.PromoBox_2 .PromoBox_Element > img {
  padding-bottom: 65px;
}

.PromoBox_2 .Element_Text {
  padding-left: 36px;
}

.PromoBox_2 .Element_Text > h4 {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}

.PromoBox_2 .Element_Text > p {
  margin-top: -15px;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.Subscribe_Block {
  background-image: url(img/Subscribe.png);
  width: 1618px;
  height: 438px;
  background-repeat: no-repeat;
  background-position: center 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Subscribe_Block .Subscribe_left {
  padding-left: 160px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 635px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 100px;
}

.Subscribe_Block .Subscribe_left > img {
  margin-bottom: 50px;
}

.Subscribe_Block .Subscribe_Text {
  margin-left: -50px;
  width: 390px;
  height: 114px;
}

.Subscribe_Block .Subscribe_Text > p {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  /* Text style for "Bin Burhan" */
  font-family: "Lato - Bold";
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 26px;
  margin-bottom: -10px;
  margin-top: 5px;
}

.Subscribe_Block .Subscribe_Dhaka {
  color: #222224;
  font-family: "Lato Light";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.Subscribe_Block .Slider > input {
  position: absolute;
  z-index: 2;
}

.Subscribe_Block .form {
  width: 400px;
}

.Subscribe_Block .radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: sans-serif;
}

.Subscribe_Block .radio-container * {
  margin-top: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Subscribe_Block .radio-container .radio-btn {
  overflow: hidden;
}

.Subscribe_Block .radio-container .radio-btn {
  width: 55px;
}

.Subscribe_Block .radio-container .radio-btn label {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8fa), to(#c8c8c7));
  background: linear-gradient(to bottom, #f8f8fa 0%, #c8c8c7 100%);
  display: block;
  width: 38px;
  padding: 2px;
  color: #7e7e7e;
  cursor: pointer;
}

.Subscribe_Block .radio-container .radio-btn input {
  display: none;
}

.Subscribe_Block .radio-container .radio-btn input:checked + label {
  background: -webkit-gradient(linear, left top, left bottom, from(#f16d7f), to(#f16d7f));
  background: linear-gradient(to bottom, #f16d7f 0%, #f16d7f 100%);
  color: #fff;
}

.Subscribe_Block .Subscribe_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 334px;
  height: 122px;
  margin-left: 120px;
  margin-top: 128px;
}

.Subscribe_Block .Subscribe_right > p {
  /* Style for "Subscribe" */
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  /* Text style for "Subscribe" */
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 1px;
  text-transform: uppercase;
  text-align: center;
  padding-right: 30px;
}

.Subscribe_Block .Subscribe_right > .FOR_OUR {
  color: #222224;
  font-family: Lato;
  font-size: 24px;
  letter-spacing: 0.35px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  font-weight: 600;
}

.Subscribe_Block .form_for_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 386px;
  height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  margin-top: 35px;
  margin-left: -35px;
}

.Subscribe_Block .form_for_email > .email {
  width: 334px;
  border-radius: 23px 0px 0px 23px;
  background-color: #e1e1e1;
  border: none;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Style for "Enter Your" */
  font-weight: bold;
  opacity: 0.67;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 650;
  line-height: 54px;
}

.Subscribe_Block .form_for_email > .email:focus {
  background-color: #ffffffd0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 1px 0px 3px 1px #fc414156;
          box-shadow: 1px 0px 3px 1px #fc414156;
  outline: none;
}

.Subscribe_Block .button3 {
  width: 114px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
  display: block;
  /* Style for "Subscribe" */
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  /* Text style for "Subscribe" */
  letter-spacing: 0.35px;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
}

.Subscribe_Block .button3:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f35466;
  -webkit-box-shadow: 0px 0px 2px 0px #000000;
          box-shadow: 0px 0px 2px 0px #000000;
  cursor: pointer;
}

footer {
  height: 517px;
  width: 1600px;
  margin: 0 auto;
}

footer .footer_top {
  height: 458px;
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

footer .footer_text {
  width: 450px;
  padding-top: 123px;
  padding-left: 229px;
}

footer .footer_text_text {
  width: 427px;
  height: 180px;
  /* Style for "Objectivel" */
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

footer .footer_menu {
  width: 900px;
  height: 458px;
}

footer .footer_menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_menu_ul > .footer_li_1 {
  display: inline;
  padding-top: 129px;
  margin-right: 80px;
}

footer .padding_menu {
  padding-left: 57px;
}

footer .footer_li_1 > a {
  text-decoration: none;
  /* Style for "INFORMATIO" */
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  /* Text style for "I, NFORMAT" */
  letter-spacing: 0.45px;
}

footer .footer_li_1 > a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  color: #898989;
}

footer .footer_li_1 > ul {
  margin-top: 49px;
}

footer .footer_li_2 {
  list-style-type: none;
  margin-left: -40px;
}

footer .footer_li_2 > a {
  text-decoration: none;
  color: #898989;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  /* Text style for "Home" */
  letter-spacing: 0.4px;
  line-height: 59px;
  /* Text style for "Shop , Abo" */
  letter-spacing: 0.4px;
  line-height: 42px;
  text-transform: none;
}

footer .footer_li_2 > a:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  color: #f16d7f;
}

footer .Footer_down {
  width: 1617px;
  height: 79px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .CopyRight {
  margin-left: 238px;
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 188px;
  height: 32px;
  margin-left: 700px;
}

footer .social_block {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-right: 8px;
  text-align: center;
  line-height: 32px;
}

footer .social_block > i {
  color: grey;
  text-align: center;
}

footer .social > a:hover .social_block {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f16d7f;
}

footer .social > a:hover .social_block > i {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  color: white;
}

footer .social > a:visited .social_block {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ededed;
  border: 1px solid black;
  color: white;
}

footer .social > a:visited:hover .social_block > i {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  color: #e0a0a0;
}

/* ------------------------Cтраница PROduct------------------------ */
.menu_product {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8f3f4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_product .arrival {
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.menu_product .menu_product_nav_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_product .menu_product_nav_list_li > a {
  text-decoration: none;
  padding-right: 2px;
  /*Text styles for "Home / Men" */
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.menu_product .menu_product_active > a {
  font-weight: bold;
  color: #f16d7f;
}

.menu_product .menu_product_nav_list_li > a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #f16d7f;
}

.contentPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.contentPage .contentPage_ac {
  width: 200px;
  margin-right: 50px;
}

.contentPage .contentPage_ac label {
  display: inline-block;
  width: 200px;
  padding: 5px 20px;
  height: 30px;
  cursor: pointer;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 25px;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
}

.contentPage .contentPage_ac input:checked + label {
  color: #3d7489;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #ef5b70;
  line-height: 25px;
  text-transform: uppercase;
}

.contentPage .contentPage_ac label:hover {
  color: #ef5b70;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contentPage .contentPage_ac input {
  display: none;
}

.contentPage .contentPage_ac input:checked ~ article {
  -webkit-transition: height 0.6s ease-in-out, -webkit-box-shadow 0.6s linear;
  transition: height 0.6s ease-in-out, -webkit-box-shadow 0.6s linear;
  transition: height 0.6s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.6s ease-in-out, box-shadow 0.6s linear, -webkit-box-shadow 0.6s linear;
  height: 480px;
}

.contentPage .contentPage_ac article {
  overflow: hidden;
  position: releative;
  z-index: 10;
  height: 0px;
  -webkit-transition: height 0.6s ease-in-out, -webkit-box-shadow 0.6s linear;
  transition: height 0.6s ease-in-out, -webkit-box-shadow 0.6s linear;
  transition: height 0.6s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.6s ease-in-out, box-shadow 0.6s linear, -webkit-box-shadow 0.6s linear;
}

.contentPage .contentPage_ac article ul {
  list-style-type: none;
  margin-left: -15px;
}

.contentPage .contentPage_ac article ul a {
  text-decoration: none;
  font-family: 'Lato';
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
}

.contentPage .contentPage_ac article ul a:hover {
  color: #ef5b70;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contentPage .contantPage_Filters_and_Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35px;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_Trading {
  margin-right: 90px;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_Trading p {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_Trading ul {
  list-style-type: none;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 0px;
  margin-left: -5px;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_Trading ul a {
  text-decoration: none;
  border-right: 1px solid #dfdfdf;
  font-family: 'Lato';
  font-size: 14px;
  color: #6f6e6e;
  padding: 0px 5px;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_Trading ul a:hover {
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes p {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -15px;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes form p {
  font-family: 'OpenSans';
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 3px;
  padding-right: 30px;
  cursor: default;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes form .check {
  width: 13px;
  height: 13px;
  border: 1px solid #ddd7d7b9;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes form .check:hover {
  background-color: #ddd7d777;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes form input {
  display: none;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes form input:checked + .box {
  background-color: #f16d7f;
  border-radius: 30%;
  width: 50%;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25%;
  margin-top: 25%;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes form input:hover {
  background-color: #1a1616;
  cursor: pointer;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_sizes form input:after {
  border: 1px solid black;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_prise .slidecontainer {
  width: 250px;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_prise .slidecontainer p {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_prise .slidecontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 1;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_prise .slidecontainer .slider:hover {
  opacity: 1;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filters_top .filters_top_prise .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f16d7f;
  cursor: pointer;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down {
  height: 50px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9px;
  color: #6f6e6e;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname .SortBy_link {
  text-decoration: none;
  display: block;
  width: 80px;
  height: 30px;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
  font-family: 'Lato';
  font-size: 14px;
  color: #6f6e6e;
  border-right: 1px solid #6f6e6e77;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname .SortBy_link:hover {
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname select {
  display: block;
  width: 70px;
  height: 30px;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
  border: 1px solid white;
  outline-color: #f16d7f;
  font-family: 'Lato';
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  padding: 5px;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname select:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f16d7f;
  outline: none;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname select:focus option {
  color: #6f6e6e;
  outline: none;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname select:focus {
  color: #f16d7f;
  outline: none;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname select:focus option:hover {
  background-color: none;
  color: #f16d7f;
}

.contentPage .contantPage_Filters_and_Products .contentPage_Filters .filter_down .sortbyname select:focus option {
  background-color: #d1cbcb2d;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination {
  width: 261px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul li {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  list-style: none;
  color: #c4c4c4;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul li a:link, .contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul li a:visited {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 26p;
  color: #c4c4c4;
  display: block;
  padding: 3px 6px;
  margin-right: 5px;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul li a:hover {
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul .previous-off ul .next {
  display: block;
  float: left;
  font-weight: bold;
  padding: 3px 4px;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul .next a, .contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul .previous-off a {
  font-weight: bold;
  color: #c4c4c4;
  width: 20px;
  height: 20px;
  line-height: 18px;
  font-weight: 3000;
  font-family: 'tahoma';
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .pagination ul .active {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  margin-right: 10px;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .viewAll {
  display: block;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}

.contentPage .contantPage_Filters_and_Products .pagination_and_botton .viewAll:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #ef5b70;
          box-shadow: 0px 0px 6px 0px #ef5b70;
  -webkit-transition: .3s;
  transition: .3s;
}

.PromoBox_2_productpage {
  width: 1600px;
  margin: auto;
}

.PromoBox_2_productpage .Link_on_PromoBox_2_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 341px;
  background-color: #222224;
  margin-top: 150px;
  margin-bottom: 50px;
  text-decoration: none;
  color: #fbfbfb;
}

.PromoBox_2_productpage .Link_on_PromoBox_2_product .PromoBox_Elements_2_productpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PromoBox_2_productpage .Link_on_PromoBox_2_product .PromoBox_Elements_2_productpage .PromoBox_Element_2_productpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 308px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 32px;
  padding-left: 32px;
}

/* ------------------------Cтраница Single Page------------------------- */
.Single_page_Slider {
  width: 1607px;
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  margin: 0px auto;
  position: relative;
}

.Single_page_Slider #slider-wrap {
  width: 1607px;
  height: 777px;
  margin: 0px auto;
}

.Single_page_Slider #slider-wrap #slider {
  width: 1607px;
  width-height: 777px;
}

.Single_page_Slider #slider-wrap .slide {
  width: 100%;
  height: 100%;
  height-margin: 0px auto;
}

.Single_page_Slider .slider_preview_next {
  content: '';
  width: 1607px;
  height: 47px;
  position: absolute;
  margin-top: -450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Single_page_Slider .slider_preview_next a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f35466;
  -webkit-box-shadow: 0px 0px 3px 0px #000000;
          box-shadow: 0px 0px 3px 0px #000000;
}

.Single_page_Slider .slider_preview_next .preview, .Single_page_Slider .slider_preview_next .next {
  width: 47px;
  height: 47px;
  background-color: #7e7b7b60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Single_page_Slider .slider_preview_next .preview img, .Single_page_Slider .slider_preview_next .next img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Single_page_content {
  height: 1289px;
  width: 1607px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.Single_page_content .SP_Product_discription {
  width: 1141px;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  position: absolute;
  margin-top: -80px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 73px 261px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 43px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top h2 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 2px solid #f16d7f;
  padding-bottom: 14px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top h3 {
  color: #4d4d4d;
  font-family: "Lato - Black";
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area {
  overflow: hidden;
  width: 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 5px;
  margin-left: -1px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area:not(:checked) > input {
  display: none;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area:not(:checked) > label {
  width: 20px;
  padding: 0;
  cursor: pointer;
  font-size: 25px;
  line-height: 17px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area:not(:checked) > label:before {
  content: '★';
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area:not(:checked) > label:hover,
.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area > input:checked + label:hover,
.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area > input:checked + label:hover ~ label,
.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area > input:checked ~ label:hover,
.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area > input:checked ~ label:hover ~ label,
.Single_page_content .SP_Product_discription .SP_Product_discription_top .rating .rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top p {
  color: #5e5e5e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-bottom: -10px;
  margin-top: 26px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .character .character_left, .Single_page_content .SP_Product_discription .SP_Product_discription_top .character .character_right {
  padding: 22px;
  color: #b9b9b9;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .character .character_left span, .Single_page_content .SP_Product_discription .SP_Product_discription_top .character .character_right span {
  color: #2f2f2f;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_top .price {
  color: #ef5b70;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 73px 261px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_color, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_size, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .QUANTITY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 164px;
  height: 61px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_color .size, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_color .color, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_size .size, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_size .color, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .QUANTITY .size, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .QUANTITY .color {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline-color: #f16d7f;
  font-family: 'Lato';
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_color .size .red, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_color .color .red, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_size .size .red, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .CHOOSE_size .color .red, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .QUANTITY .size .red, .Single_page_content .SP_Product_discription .SP_Product_discription_botton form .QUANTITY .color .red {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton form input {
  width: 144px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline-color: #f16d7f;
  padding: 1px 5px;
  color: #bcbcbc;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton form input::-webkit-input-placeholder {
  color: green;
  color: #bcbcbc;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton_botton {
  margin-top: 21px;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton_botton a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Single_page_content .SP_Product_discription .SP_Product_discription_botton_botton a:hover {
  border-color: #f16d7f;
  color: #f16d7f;
  -webkit-box-shadow: 0px 0px 6px 0px #ef5b70;
          box-shadow: 0px 0px 6px 0px #ef5b70;
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=style.css.map */